<!--footer start-->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="single-footer footer-dec">
                        <div class="footer-logo">
                            <a routerLink="Home"><img src="../../assets/images/logo.png" alt=""></a>
                        </div>
                        <p class="dec">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis,
                        </p>
                        <div class="social-icon">
                            <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faTiktok"></fa-icon></a>
                            <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-footer">
                        <div class="footer-title">
                            <h4>eBike World</h4>
                        </div>
                        <ul class="mainmenu">
                            <li><a routerLink="Home"><fa-icon [icon]="faChevronRight"></fa-icon> Home</a></li>
                            <li><a routerLink="About us"><fa-icon [icon]="faChevronRight"></fa-icon> About Us</a></li>
                            <li><a routerLink="News"><fa-icon [icon]="faChevronRight"></fa-icon> Blog</a></li>
                            <li><a routerLink="Product"><fa-icon [icon]="faChevronRight"></fa-icon> Product</a></li>
                            <li><a routerLink="Contact"><fa-icon [icon]="faChevronRight"></fa-icon> Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-footer">
                        <div class="footer-title">
                            <h4>My Account</h4>
                        </div>
                        <ul class="mainmenu">
                            <li>
                                <a target="_blank" routerLink="Sign in">
                                    <fa-icon [icon]="faChevronRight"></fa-icon>
                                    My Account
                                </a>
                            </li>
                            <li>
                                <a routerLink="Wishlist">
                                    <fa-icon [icon]="faChevronRight"></fa-icon>
                                    Wish List
                                </a>
                            </li>
                            <li>
                                <a target="_blank" routerLink="#">
                                    <fa-icon [icon]="faChevronRight"></fa-icon>
                                    Shopping Cart
                                </a>
                            </li>
                            <li>
                                <a target="_blank" routerLink="Checkout">
                                    <fa-icon [icon]="faChevronRight"></fa-icon>
                                    Checkout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer newsletter">
                        <div class="footer-title">
                            <h4>Newsletter</h4>
                        </div>
                        <p>Updating on new arrivals, offers and discounts information</p>
                        <form action="#">
                            <input type="text" placeholder="Your e-mail">
                            <button>Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-area end-->