<!-- checkout-area start -->
<div class="checkout-area page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="billing-details-area">
                    <h4 class="checkout-titel">BILLING DETAILS</h4>
                    <form action="#">
                        <div class="billing-input">
                            <div class="input-field">
                                <div class="input-text"><input type="text" placeholder="First Name"></div>
                                <div class="input-text"><input type="text" placeholder="Last Name"></div>
                            </div>
                            <div class="input-field">
                                <div class="input-text"><input type="text" placeholder="Company name"></div>
                                <div class="input-text"><input type="text" placeholder="Address"></div>
                            </div>
                            <div class="input-field">
                                <div class="input-text"><input type="text" placeholder="Town/city"></div>
                                <div class="input-text"><input type="text" placeholder="Email"></div>
                            </div>
                            <div class="input-field">
                                <div class="input-text"><input type="text" placeholder="Phone"></div>
                                <div class="input-text"><input type="text" placeholder="Post code"></div>
                            </div>
                        </div>
                    </form>
                    <div class="billing-submit">
                        <div class="continue-btn">
                            <a href="#">continue</a>
                        </div>
                        <div class="shipping-different">
                            <div class="shipping-different-check">
                                <input id="guest" type="radio" name="guest_or_register" value="guest">
                            </div>
                            <div class="shipping-diffrent-text">
                                <p>Ship to this address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="your-order-area">
                    <h4 class="checkout-titel">Your Order</h4>
                    <div class="cart_total">
                        <h4>Cart total</h4>
                        <div class="cart-inner">
                            <ul>
                                <li>Subtotal <span>1200.00$</span></li>
                                <li>Shipping cost <span>25.00$</span></li>
                            </ul>
                        </div>
                        <p>Total <span>1225.00$</span></p>
                    </div>
                    <div class="payment-method">
                        <div class="accordion-active">
                            <!--panel body start-->
                            <h4 class="open">DIRECT BANK TRANSFER</h4>
                            <div class="accordion-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati expedita id
                                    debitis, animi, mollitia saepe asperiores distinctio maiores soluta enim blanditiis
                                    quis, earum molestias minima libero velit. Corporis, sapiente dolores.</p>
                            </div>
                            <!--panel body end-->
                            <!--panel body start-->
                            <h4>CASH ON DELIVERY</h4>
                            <div class="accordion-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati expedita id
                                    debitis, animi, mollitia saepe asperiores distinctio maiores soluta enim blanditiis
                                    quis, earum molestias minima libero velit. Corporis, sapiente dolores.</p>
                            </div>
                            <!--panel body end-->
                            <!--panel body start-->
                            <h4>CHEQUE PAYMENT</h4>
                            <div class="accordion-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati expedita id
                                    debitis, animi, mollitia saepe asperiores distinctio maiores soluta enim blanditiis
                                    quis, earum molestias minima libero velit. Corporis, sapiente dolores.</p>
                            </div>
                            <!--panel body end-->
                            <!--panel body start-->
                            <h4>paypal</h4>
                            <div class="accordion-description">
                                <img src="img/logo/cont.png" alt="">
                            </div>
                            <!--panel body end-->
                        </div>
                        <div class="payment-checkbox">
                            <input type="checkbox">
                            I’VE READ AND ACCEPT THE TERMS & CONDITIONS
                        </div>
                        <div class="place-order">
                            <a href="#">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout-area end -->