<!--single-product-area start-->


<div class="single-product-area page-bg page-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" *ngFor="let product of products">
                <!--sigle-product-area-->
                <div class="sigle-product-area">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="single-product-tab">
                                <div class="zoomWrapper">
                                    <div id="img-1" class="zoomWrapper single-zoom">
                                        <a href="#">
                                            <img id="zoom1" [src]="product.url" alt="big-1">
                                        </a>
                                    </div>
                                    <!-- <div class="single-zoom-thumb">
                                        <ul class="s-tab-zoom" id="gallery_01">
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="img/single-product/1.jpg"
                                                    data-zoom-image="img/single-product/1.jpg"><img
                                                        src="img/single-product/s1.png" alt="zo-th-1" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/2.jpg"
                                                    data-zoom-image="img/single-product/2.jpg"><img
                                                        src="img/single-product/s2.png" alt="zo-th-2"></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/3.jpg"
                                                    data-zoom-image="img/single-product/3.jpg"><img
                                                        src="img/single-product/s3.png" alt="ex-big-3" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/4.jpg"
                                                    data-zoom-image="img/single-product/4.jpg"><img
                                                        src="img/single-product/s4.png" alt="zo-th-4"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="img/single-product/1.jpg"
                                                    data-zoom-image="img/single-product/1.jpg"><img
                                                        src="img/single-product/s1.png" alt="zo-th-1" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/2.jpg"
                                                    data-zoom-image="img/single-product/2.jpg"><img
                                                        src="img/single-product/s2.png" alt="zo-th-2"></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/3.jpg"
                                                    data-zoom-image="img/single-product/3.jpg"><img
                                                        src="img/single-product/s3.png" alt="ex-big-3" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery"
                                                    data-image="img/single-product/4.jpg"
                                                    data-zoom-image="img/single-product/4.jpg"><img
                                                        src="img/single-product/s4.png" alt="zo-th-4"></a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="single-product-detels">
                                <h4 class="single-product-title">{{product.name}}</h4>
                                <div class="single-price-box">
                                    <div class="tutole-price">{{product.price | number: '4.0-1'}} VND<span></span></div>
                                    <div class="review">
                                        <fa-icon class="icon-heart" [icon]="faStar"></fa-icon>
                                        <fa-icon class="icon-heart" [icon]="faStar"></fa-icon>
                                        <fa-icon class="icon-heart" [icon]="faStar"></fa-icon>
                                        <fa-icon class="icon-heart" [icon]="faStar"></fa-icon>
                                        <fa-icon class="icon-heart" [icon]="faStarO"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <form action="#">
                                <div class="quantity">
                                    <span>Quantity <input type="number" value="1"></span>
                                    <span class="single-product-btn">
                                        <button>Add to cart</button>
                                    </span>
                                </div>
                            </form>
                            <div class="product-det-tab">
                                <!-- Nav tabs stat-->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#description"
                                            aria-controls="description" role="tab" data-toggle="tab">Description</a>
                                    </li>
                                    <li role="presentation"><a href="#Review" aria-controls="Review" role="tab"
                                            data-toggle="tab">Review</a></li>
                                    <li role="presentation"><a href="#more-info" aria-controls="more-info" role="tab"
                                            data-toggle="tab">More Info</a></li>
                                </ul>
                                <!-- Nav tabs end-->
                                <!-- Tab panes start -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="cont-pd tab-pane active" id="description">
                                        {{product.description}}
                                    </div>
                                    <div role="tabpanel" class="cont-pd tab-pane" id="review">Lorem ipsum dolor sit
                                        amet, consectetariatur odit veniam voluptas dolor temporibus minima asperiores
                                        enim, sequi cum tempore unde</div>
                                    <div role="tabpanel" class="cont-pd tab-pane" id="more-info">Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit. Iusto iure quia veritatis atque accusantium
                                        quaerat. Fugiat nisi, pariatur odit veniam voluptas dolor temporibus minima
                                        asperiores enim, sequi cum tempore unde</div>
                                </div>
                                <!-- Tab panes end -->
                            </div>
                            <div class="socil-media">
                                <img src="img/socul-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="related-product-area">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="related-title">RELATED PRODUCTS</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="single-product-page-list">
                                <div class="single_product-list">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <span class="price">off <br>30%</span>
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/1.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Classic-MR866</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="old-price"><span>$300.00</span></div>
                                                        <div class="new-price"><span>$210.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <span class="price">off <br>20%</span>
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/2.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="old-price"><span>$300.00</span></div>
                                                        <div class="new-price"><span>$260.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <span class="price">off <br>50%</span>
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/3.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Ladies-MR8O8</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="old-price"><span>$400.00</span></div>
                                                        <div class="new-price"><span>$200.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/5.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>$210.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/6.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Classic-MR868</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>$350.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    <a href="#"><img src="img/product/7.png" alt=""></a>
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="#">Dot Bike Modern-MR868</a></h3>
                                                    <div class="review">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>$1100.00</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                        <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i
                                                                    class="fa fa-check-square-o"></i></a></li>
                                                        <li><a title="Add to compare" href="#" class="add-to-cart"><i
                                                                    class="fa fa-signal"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--sigle-product-area-->
            </div>
        </div>
    </div>
</div>