/*----------------------------
    19. single-product css 
-----------------------------*/
.page-bg {
    background: #f7f7f7 none repeat scroll 0 0;
  }
  .page-ptb {
    padding: 30px 0;
  }
  /*----------------------------
      20. single-product-tab css 
  -----------------------------*/
  .single-tb-image {
    border: 1px solid #ebebeb;
    margin-bottom: 17px;
  }
  .single-product-tab li a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 0;
    display: block;
    height: 90px;
    line-height: 85px;
    margin-right: 15px;
    text-align: center;
  }
  .zoomWrapper > img {
    border: 1px solid #ebebeb;
    position: inherit !important;
  }
  .zoomWrapper {
    overflow: hidden;
    padding-bottom: 4px;
  }
  .single_product_tab_item {
    margin-top: 20px;
  }
  .single-zoom-thumb {
    margin-top: 14px;
  }
  .single_product_tab_item li {
    float: left;
    width: 25%;
  }
  .single-product-tab li:last-child a {
    margin-right: 8px;
  }
  .single-product-tab ul.nav-tabs{
      border-bottom: none;
  }
  .single-product-tab .nav-tabs > li {
    margin-bottom: 0;
  }
  .single-product-tab .nav-tabs > li.active a{
      background: none;
      border: 1px solid #ddd;
      cursor: pointer;
  }
  .single-product-tab .nav-tabs > li a:hover{
      border: 1px solid #ddd;
  }
  .single-product-title {
    font-size: 30px;
    font-weight: 500;
  }
  .single-price-box {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .icon-heart{
    font-size: 14px;
  }
  .tutole-price {
    color: #ea3b02;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    font-family: "Lato",sans-serif; 
  }
  .quantity > span {
    font-family: "Lato",sans-serif;
    font-weight: 600;
  }
  .quantity input {
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-left: 15px;
    padding: 6px 12px;
    width: 56px;
  }
  .quantity {
    margin-bottom: 39px;
  }
  .single-product-btn > button, .product-action-btn li .add_cart {
    background: #008dc7 none repeat scroll 0 0;
    border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
    padding: 8px 28px;
    border: none;
  }
  .single-product-btn > button:hover,.product-action-btn li .add_cart:hover {
    background: #000;
  }
  .product-det-tab {
    border: 1px solid #ddd;
    background: #fff;
  }
  .product-det-tab {
    border: 1px solid #ebebeb;
    margin-bottom: 47px;
  }
  .product-det-tab .nav.nav-tabs {
      border-bottom: medium none;
  }
  .product-det-tab ul li .active > a {
      background: #ddd none repeat scroll 0 0;
  }
  .product-det-tab ul li a {
      background: #ddd none repeat scroll 0 0;
      border: medium none;
      border-radius: 0;
      color: #1b222a;
      font-weight: 600;
      padding: 10px 24px;
      margin-right: 1px;
  }
  .product-det-tab ul li a:hover {
    background: #fff;
  }
  .product-det-tab ul li:last-child a {
    margin: 0;
  }
  .product-det-tab li {
    margin-bottom: 0;
  }
  .product-det-tab .nav-tabs > li.active > a {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #1b222a;
  }
  .cont-pd {
    padding: 28px 14px 26px 20px;
  }
  /*Price filter css here*/
  .price-filter {
      background: #1b222a none repeat scroll 0 0;
      color: #ffffff;
      padding: 30px 35px;
      text-align: center;
  }
  .price-slider-box {
      border: 1px solid #ebebeb;
      margin-bottom: 30px;
  }
  .price-slider-title h6 {
      font-weight: bold;
      margin-bottom: 18px;
  }
  .price-slider-top {
      margin-bottom: 22px;
      overflow: hidden;
  }
  .input-type > input {
      border: medium none;
      border-radius: 15px;
      color: #1b222a;
      font-family: "Lato",sans-serif;
      height: 26px;
      text-align: center;
      width: 75px;
  }
  .price-slider-top .input-type {
      float: left;
      width: 50%;
  }
  .ui-widget-content {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #333333;
    height: 6px;
  }
  .ui-slider .ui-slider-handle {
    border-radius: 2px;
    height: 13px;
    width: 13px;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #008dc7 none repeat scroll 0 0;
    border: 1px solid #008dc7;
  }
  
  .single-product-page-list .owl-controls .owl-buttons div {
    background: #1b222a none repeat scroll 0 0;
    border-radius: 0;
    font-size: 18px;
    height: 24px;
    line-height: 18px;
    opacity: 10;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1000)";
    position: absolute;
    right: 11px;
    top: -65px;
    width: 27px;
  }
  .single-product-page-list .owl-controls .owl-buttons div:hover {
    background: #008dc7 none repeat scroll 0 0;
  }
  .single-product-page-list .owl-controls .owl-buttons .owl-prev {
    right: 46px;
  }
  .single-product-page-list .owl-controls .owl-buttons .owl-next {
    right:11px;
  }
  /*------------------------
     21. related-product-area css 
  --------------------------*/
  .related-product-area {
    padding: 58px 0 0px;
  }
  h4.related-title {
    border-bottom: 1px solid #ebebeb;
    color: #1b222a;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 14px;
    position: relative;
    text-transform: uppercase;
  }
  h4.related-title:before {
    background: #f16e1e none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 180px;
  }
  .product-details h3 a {
    color: #1b222a;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px;
  }
  .product-details h3 fa-icon:hover {
    color: #ff8f00;
  }
  .review {
    margin-bottom: 6px;
  }
  .review > fa-icon {
    color: #f4a137;

  }
  .old-price, .new-price {
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .old-price {
    color: #a1a0a0;
    text-decoration: line-through;
  }
  .new-price {
      color: #ea3b02;
      margin-left: 5px;
  }
  
  fa-icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .s-tab-zoom{
    display: flex;
  }